<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>bird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>cac_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>cac_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>cac_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>cac_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>cac_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>cac_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>cac_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,98},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>letter_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,74},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,74},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>letter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,74},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>letter_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>letter_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>letter_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,104},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>letter_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,74},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>letter_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>letter_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>letter_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>letter_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>multi_cac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>road.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,98},{2400,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2400,24}}</string>
                <key>sourceSize</key>
                <string>{2400,24}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{338,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,80}}</string>
                <key>sourceSize</key>
                <string>{338,80}</string>
            </dict>
            <key>t_rex.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>t_rex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>t_rex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>t_rex_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>t_rex_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>t_rex_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>t_rex_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>t_rex_crunch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>t_rex_crunch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{4096,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa1b8fef69612e650d82219eec90567d:1/1$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
